{% extends 'base.html.twig' %}

{% block title %}{{ author.first_name }} {{ author.last_name }} - {% endblock %}

{% block body %}
    <div class="table-container">
        <h4 class="mb-4">Author: {{ author.first_name }} {{ author.last_name }}</h4>
        <div class="row mb-4">
            <div class="col-8">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <td>{{ author.id }}</td>
                        </tr>
                        <tr>
                            <th>First name</th>
                            <td>{{ author.first_name }}</td>
                        </tr>
                        <tr>
                            <th>Last name</th>
                            <td>{{ author.last_name }}</td>
                        </tr>
                    </table>
                </div>
                <div class="buttons">
                    <button onclick="location.href = '{{ path('authors') }}';" type="button" class="btn btn-primary">Back to list</button>
                    <button onclick="location.href = '{{ path('author_edit', {'author_id': author.id}) }}';" type="button" class="btn btn-primary">Edit</button>
                    <button onclick="confirmRedirect('{{ path('author_delete', {'author_id': author.id}) }}')" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
